<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Classic Calculator</title>
</head>
<body>

<h1>Classic calculator:</h1>

<form th:object="${input}" method="POST">

    <h3>Operations:</h3>
    <ul>
        <li th:each="operation : ${operations}">
            <input type="radio" th:field="*{selectedOperation}" th:value="${operation}"/>
            <label th:for="${#ids.prev('selectedOperation')}" th:text="${operation}">OPERATION</label>
        </li>
    </ul>

    <p>value1: <input type="text" th:field="*{value1}"/></p>
    <p>value2: <input type="text" th:field="*{value2}"/></p>

    <button>Calculate</button>
</form>


<div th:if="${not #lists.isEmpty(results)}">
    <h2> History: </h2>
    <ul>
        <li th:each="result : ${results}">
            <span th:text="${result}">Result</span>
        </li>
    </ul>
</div>


</body>
</html>
